<h1>Greeting, <%= @name %></h1>
<p>The time now is <%= formatted_time(@time) %> </p>
<p>This page has been viewes <%= @times_displayed %> times(s)</p>

<p><%= link_to "google", "http://www.google.com" %></p>
<p><%= link_to "goodbye", greeter_goodbye_path %></p>
